body{
    background-image: url('githublogo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:1800px;
    background-attachment: fixed;
}
h1.banner{
    background-image: url('header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:large;
}
.main{
    background-color: #4834d4;
    color: #c7ecee;

    
}
b{
    
    font-size:26px ;
}
li{
    
    font-size: medium;
    font-weight: lighter;
    margin-bottom: 5px;
}

address{
    font-weight: bolder;
    color: antiquewhite;
    text-align: right;
    background-image: url('bgimg.jpg');
    background-size: 100%;
}

pre{
    color: rgb(7, 60, 42);
    font-size: 55px;
    text-align: left;
    margin-right: 20px;
}
video{
    margin-left: 35%;
    width: 400px;
    height: 300px;
}
span.tut{
    margin-left: 40%;
    color: black;
    background-color: purple;
    font-weight:bolder ;
}
a{
    text-decoration: none;
}
a:hover{
    border: 3px dotted black;
    color: white;
}
a:active{
    color: red;
}